<form class="custom">
  <div class="row">
    <div class="large-8 columns">
      <label>Que busca?</label>
      <input type="text" placeholder="termino">
    </div>
    <div class="large-4 columns">
      <input type="submit" value="A buscar" class="button success-dark">
    </div>
  </div>
</form>
