<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Buscar y Extrar sentimiento'
            },
            subtitle: {
                text: 'Fuente: elnuevodiario.com.ni'
            },
            xAxis: {
                categories: <%= raw @categories.as_json %>,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Population (millions)',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' millions'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Muy Positivo',
                data: [107, 31, 635, 203, 2]
            }, {
                name: 'Positivo',
                data: [133, 156, 947, 408, 6]
            }, {
                name: 'Negativo',
                data: [973, 914, 4054, 732, 34]
            }, {
                name: 'Muy Negativo',
                data: [973, 914, 4054, 732, 34]
            }]
        });
    });

</script>
<%= render 'shared/menu' %>

<h4>Este es el análisis de sentimientos y moda de termino<br>donde podrás observar el sentir general sobre un concepto o persona</h4>
<h5><br>Instrucciones: Introduzca los terminos a correlacionar en el siguiente cuadro y separelos por coma.</h5>
<%= render 'form' %>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
